---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="https://res.cloudinary.com/dsftikc0a/image/upload/v1737887554/profolio/xxfuwfi4tkfyxacfk4a1.png" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="bg-backgroundLight">
		<slot />
	</body>
</html>
<style is:global>
	/* Custom colors in tailwind.config.mjs */
</style>
